body, html {
  height: 100%;
}


p {
	text-align: center;
	font-size: 60px;
	margin-top: 0px;
	font-family: Marvel;
}

.full-bg {
  width: 100%;
  height: 100%;
  background-image: url("poster.jpg");
}

