


body, html {
  height: 100%;
}
body{
  margin: 0;
}

.full-bg {
  width: 100%;
  height: 100%;
  background-image: url("poster2.jpg");
  background-size: cover;
  background-position: center;
  padding: 1px;
  box-sizing: border-box;
  display: flex;
}


.poster-content{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px;
  box-sizing: border-box;
  margin:auto;
  width: 660px;
  text-align: center;
}
.poster-content header{
  display: inline-block;
}
@font-face {
  font-family: avengersFont;
  src: url("../Avengers/fuenteAvengers.woff" ) format("woff")
}
.poster-content header h1 {
  color: #fff;
  font-size: 48px;
  margin: 16px 8px 0;
  font-family: avengersFont;
}
.poster-content header h2 {
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-top: 0;
  font-family: 'Audiowide', cursive;
  letter-spacing: 1px;
  font-size: 26px;
}


.poster-content iframe{
  width: 100%;
  height: 315px;
  border: 2px solid #ddd;

}

.poster-content .release-date{
  font-size: 18px;
  color: #fff;
  font-family: 'Audiowide', cursive;
  margin-bottom: 8px;
}

#Count{
  font-size: 25px;
  color: #fff;
  font-family: 'Audiowide', cursive;
  margin-bottom: 8px;
}